<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='inventory.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='logo.jpeg') }}" alt="Logo">
            <h1 class="company-name">Atlas: Gestión de Inventarios a Nuevas Alturas</h1>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <aside class="menu">
            <ul>
                <li><a href="{{ url_for('categorias') }}" class="menu-link">Categorías</a></li>
                <li><a href="{{ url_for('registrar_producto') }}" class="menu-link">Registrar Producto</a></li>
                <li><a href="{{ url_for('ganancias') }}" class="menu-link">Ganancias</a></li>
                <li><a href="{{ url_for('productos') }}" class="menu-link">Productos</a></li>
                <li><a href="{{ url_for('historial_ventas') }}" class="menu-link">Historial de ventas</a></li>
                <li><a href="{{ url_for('realizar_venta') }}" class="menu-link">Realizar venta</a></li>
                <li><a href="{{ url_for('inventory') }}" class="menu-link">Resumen De Inventario</a></li>
            </ul>
        </aside>
        <main>
            <h1>Productos</h1>
            <label for="categoria">{{categoria}}</label>
            <form method="GET" action="{{ url_for('productos') }}">
                <label for="categorias">Filtrar por categoría:</label>
                <select name="categoria" id="categorias">  <!-- Cambiado a 'categoria' -->
                    <option value="">Todas</option>
                    {% for categoria in categorias %}
                        <option value="{{ categoria[0] }}">{{ categoria[0] }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Filtrar">
            </form>
            
            {% if productos %}
                <table>
                    <thead>
                        <tr>
                            <th>Nombre del Producto</th>
                            <th>Categoria</th>
                            <th>Costo</th>
                            <th>Precio de Venta</th>
                            <th>Cantidad</th>                    
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto in productos %}
                            <tr>
                                <td>{{ producto[1] }}</td>
                                <td>{{producto[5]}}</td>
                                <td>{{ producto[2] }}</td>
                                <td>{{ producto[4] }}</td>
                                <td>{{ producto[3] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No hay productos disponibles.</p>
            {% endif %}
        </main>
    </div>

    <footer>
        <p>Tu gestor de inventario preferido | Developed By Atlas</p>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const menuLinks = document.querySelectorAll('.menu-link');
            menuLinks.forEach(link => {
                link.addEventListener('click', function() {
                    menuLinks.forEach(link => link.classList.remove('active'));
                    this.classList.add('active');
                });
            });

            // Set active class based on current URL
            const currentPath = window.location.pathname;
            menuLinks.forEach(link => {
                if (link.getAttribute('href') === currentPath) {
                    link.classList.add('active');
                }
            });
        });
    </script>
</body>
</html>