<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Producto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='inventory.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='logo.jpeg') }}" alt="Logo">
            <h1 class="company-name">Atlas: Gestión de Inventarios a Nuevas Alturas</h1>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <aside class="menu">
            <ul>
                <li><a href="{{ url_for('categorias') }}" class="menu-link">Categorías</a></li>
                <li><a href="{{ url_for('registrar_producto') }}" class="menu-link">Registrar Producto</a></li>
                <li><a href="{{ url_for('ganancias') }}" class="menu-link">Ganancias</a></li>
                <li><a href="{{ url_for('productos') }}" class="menu-link">Productos</a></li>
                <li><a href="{{ url_for('historial_ventas') }}" class="menu-link">Historial de ventas</a></li>
                <li><a href="{{ url_for('realizar_venta') }}" class="menu-link">Realizar venta</a></li>
                <li><a href="{{ url_for('inventory') }}" class="menu-link">Resumen De Inventario</a></li>
            </ul>
        </aside>
        <main>
            <div class="register-product">
                <h1>Registrar Producto</h1>
                <form action="{{ url_for('save_product') }}" method="post">
                    <table>
                        <tr>
                            <td><label for="product_name">Nombre del producto:</label></td>
                            <td><input type="text" id="product_name" name="product_name" required></td>
                        </tr>
                        <tr>
                            <td><label for="unit_price">Costo del producto:</label></td>
                            <td><input type="number" id="unit_price" name="unit_price" step="0.01" required></td>
                        </tr>
                        <tr>
                            <td><label for="unit_buy">Precio de venta:</label></td>
                            <td><input type="number" id="unit_buy" name="unit_buy" step="0.01" required></td>
                        </tr>
                        <tr>
                            <td><label for="quantity">Cantidad del producto:</label></td>
                            <td><input type="number" id="quantity" name="quantity" required min="1"></td>
                        </tr>
                        <tr>
                            <td><label for="categoria">Categoría:</label></td>
                            <td>
                                <select id="categoria" name="categoria" required>
                                    <option value="">Seleccione una categoría</option>
                                    {% for categoria in categorias %}
                                        <option value="{{ categoria[1] }}">{{ categoria[1] }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><button type="submit">Guardar</button></td>
                        </tr>
                    </table>
                </form>
            </div>
        </main>
    </div>

    <footer>
        <p>Tu gestor de inventario preferido | Developed By Atlas</p>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const menuLinks = document.querySelectorAll('.menu-link');
            menuLinks.forEach(link => {
                link.addEventListener('click', function() {
                    menuLinks.forEach(link => link.classList.remove('active'));
                    this.classList.add('active');
                });
            });

            // Set active class based on current URL
            const currentPath = window.location.pathname;
            menuLinks.forEach(link => {
                if (link.getAttribute('href') === currentPath) {
                    link.classList.add('active');
                }
            });
        });
    </script>
</body>
</html>